@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#484349 40%, white 0%);
  height: 100vh;
  max-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.App {
  padding-top: 20vh;
}

.todos {
  background-color: #F7CB15;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.todo {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  /* justify-items: center; */
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer > div {
  display: flex;
}

.clear-complete {
  color: red;
  font-weight:  bold;
  cursor: pointer;
}

.addTodo {  
  padding: 10px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addTodo input {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  border: none;
}

.addTodo button{
  padding: 5px 15px;
  width: 15%;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: #D4E6EC;
}

input[type='checkbox'] {
  appearance: none;
  height: 25px;
  width: 25px;
  padding: 0;
  border: 2px solid red;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}

input[type='checkbox']:checked{
  border: 2px solid green;
  background-color: green;
}
.checked {
  color: green;
  text-decoration: line-through;
}